{% extends 'home.html' %}
{% block content %}
<!--内容-->
<!--内容-->
<!--文章列表-->
<section id="artlist" style="margin-top:76px">
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.6s">
            <div class="col-md-12 table-responsive">
                <table class="table text-left table-bordered" id="arttags">
                    <tr>
                        <td style="width:10%;">文章标签</td>
                        <td style="width:90%;">
                            {% for  v in arr['tags'] %}
                            <a class="label label-info" href="{{arr['url']}}?t={{v[0]}}"><span class="glyphicon glyphicon-tag"></span>&nbsp;{{v[1]}}</a>&nbsp;
                            {% end %}
                    </tr>
                </table>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="artlist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="holder.js/262x166" class="img-responsive center-block" alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">文章标题</span><br>
                        <p>文章概要</p>
                    </div>
                    <a href="detail.html" class="btn btn-primary" target="_blank" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读</a>
                </div>
            </div>
            <div class="col-md-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="First">
                                <span aria-hidden="true">首页</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>
                        <li><a href="#">1&nbsp;/&nbsp;10</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="Last">
                                <span aria-hidden="true">尾页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--电影列表-->
{% end %}
